<?xml version="1.0"?>
<ruleset name="Coding standard">
    <description>Coding standard</description>

    <!-- display progress -->
    <arg value="p"/>
    <arg name="cache" value=".phpcs-cache"/>
    <arg name="colors"/>

    <!-- inherit rules from: -->
    <rule ref="PSR12"/>
    <rule ref="Generic.Arrays.DisallowLongArraySyntax"/>
    <rule ref="Squiz.WhiteSpace.SuperfluousWhitespace"/>

    <!-- Paths to check -->
    <file>src</file>
    <file>tests</file>
    <file>public/index.php</file>
    <exclude-pattern>src/Migrations/*$</exclude-pattern>
</ruleset>